@model MediaApp2.Models.Albums

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Albums</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Media.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Media.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTracks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTracks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
